.copy_right_footer{
    position: fixed;
    bottom:0;
    width: 100%;
    text-align: center;

}
img{
    box-shadow: o 6px 8px 0 rgba(2, 2, 2, 0.2);
    height: 250px;
    width:250px;
}
img:hover{
    border-radius: 140px;
}
body{
    background-image: linear-gradient(rgb(113, 113, 241), lightblue, darkblue);
}